DATABASE_URL=postgresql://user:password@host:5432/dbname
DASHBOARD_PASSWORD=changeme

# Only needed to run migrate.py (can remove after migration)
GHL_PRIVATE_TOKEN=
GHL_LOCATION_ID=FVNoxxUHiEhxjgsdhvsV
